body {
  background-color: #7DEDFF;
}

hr {
  border-style: none;
  width: 10%;
  border-color: grey;
  border-width: 5px;
  border-top-style: dotted;
}
h1 {
  color: #6495ED
}

h3 {
  color: #6495ED
}
